:root{
  --highlight:#e63549;
  --dkGray:#cfcfcf;
  --gray:#e6e6e6;
}
body{
  font-family:sans-serif;
  position:relative;
  padding:0;
  margin:0;
}

/* Tabs */
.tabs{
  position:relative;
  margin-left:15px;
  margin-top:15px;
}
.tabs > div{
  transition:background-color 0.2s ease;
  border:solid 2px var(--gray);
  border-radius:15px 15px 0 0;
  display:inline-block;
  border-bottom:none;
  padding:15px;
  font-weight:bold;
  font-size:25px;
}
.tabs > div:hover{
  background-color:var(--gray);
}
.tabs > .active{
  background-color:var(--gray);
}

/* Content */
.content{
  background-color:var(--gray);
  padding:25px 50px;
  min-height:100vh;
  max-width:100vw;
}
.content > div{
  display:none;
}
.content > .active{
  display:block;
}
.content > div > div{
  background-color:var(--dkGray);
  border-radius:20px;
  margin-bottom:15px;
  padding:15px 20px;
  font-size:20px;
}
