.add > div *:not(button){
  margin-bottom:15px;
  border-radius:10px;
  font-size:20px;
  padding:7px;
  border:none;
  width:50%;
}
.add input[type=text]:first-of-type{
  font-weight:bold;
  font-size:25px;
}
.add textarea{
  resize:vertical;
}
